.explain {
    position:relative;
}

.explain1 {
    position: relative;
    left: 100px;
    top: 20px;
}

.first{
    position:relative;
    left: 200px;
    top: 70px;
}

.second{
    position:relative;
    left: 1100px;
    top:-540px;
}

.third{
    position:relative;
    left: 200px;
    top: -700px;
}

.fourth{
    position:relative;
    left: 1100px;
    top:-1315px;
}