.one_set_beverage {
    display: flex;
    justify-content: space-between;
    width: 1260px;
    margin-left:100px;
}

.one {
    text-decoration: none;
    color:darkgray !important;
}

.set {
    text-decoration: none;
    color:darkgray !important;
    margin-left: 40px;
}

.beverage {
    text-decoration: none;
    color:darkgray !important;
    margin-left: 100px;
}

.line {
    display: flex;
    margin-top:10px;
}

.order {
    display: flex;
    width:1460px;
    height:50px;
    background-color:red !important;
    font-size:30px;
    margin-top: 300px;
}

.cnt {
    display: flex;
    height: 250px;
    margin-top: 30px;
}

.first_cnt{
    display: flex;
    font-size:100px;
    color:black;
    margin-left: 220px;
}

.second_cnt {
    display: flex;
    font-size:100px;
    color:black;
    margin-left: 300px;
}

.third_cnt {
    display: flex;
    font-size:100px;
    color:black;
    margin-left: 270px;
}

.fourth_cnt {
    display: flex;
    font-size:100px;
    color:black;
    margin-left: 260px;
}

.care {
    display: flex;
    margin-left: 350px;
    font-size: 25px;
    color: black;
    font-weight: bold;
    margin-top:20px;
}

.box {
    display: flex;
    margin-top: 20px;
}

.box2 {
    display:flex;
    margin-top: 5px;
    margin-left: 300px;
}

.box_2 {
    display: flex;
    margin-left: 1070px;
    margin-top: -35px;
}

.box3 {
    display: flex;
    margin-left: -70px;
}

.box_3 {
    display: flex;
    margin-top: -134px;
    margin-left: 600px;
}