.title {
    display: flex;
    background-color:brown;
<<<<<<< HEAD
    height: 10vh;
    margin-top: -1.5vh;
=======
    height: 50px;
>>>>>>> 7fcefd654880e84618be813a66deb56c321799b8
}

.name{
    display: flex;
    color: white !important;
    font-style:italic;
    font-size:200%;
    margin-left: 45%;
    margin-top: 1%;
}

.menu{
    display: flex;
    background-color:burlywood;
    justify-content: space-between;
<<<<<<< HEAD
    height: 150%;
=======
    width: 1506px;
    height: 50px;
>>>>>>> 7fcefd654880e84618be813a66deb56c321799b8
}

.kind {
    display: flex;
    background-color:antiquewhite;
<<<<<<< HEAD
    height: 80vh;
    width: 97.8vw;
=======
    height: 600px;
    width: 1506px;
>>>>>>> 7fcefd654880e84618be813a66deb56c321799b8
}

.cone{
    display: flex;
    text-decoration: none;
    color:black !important;
}

.bar{   
    display: flex;
    text-decoration: none;
    color:black !important;
}   

.cup{
    display: flex;
    text-decoration: none;
    color:black !important;
}

.pencil{
    display: flex;
    text-decoration: none;
    color:black !important;
}

<<<<<<< HEAD
.Care {
    display:flex;
    background-color: antiquewhite;
=======
.Order{
    display: flex;
    margin-top:-50px;
>>>>>>> 7fcefd654880e84618be813a66deb56c321799b8
}

.order {
    display: flex;
<<<<<<< HEAD
    margin-left: 25%;
    font-size: 150%;
    color: black;
    font-weight: bold;
    margin-top:2%;
=======
    width:1508px;
    height:50px;
    background-color:red !important;
    font-size:30px;
    margin-top: 70px;
>>>>>>> 7fcefd654880e84618be813a66deb56c321799b8
}

.First {
    display: flex;
<<<<<<< HEAD
    height: 50%;
    margin-top: -5%;
    margin-left: -5%;
=======
    margin-top: -40px;
    height: 250px;
>>>>>>> 7fcefd654880e84618be813a66deb56c321799b8
}

.Second{
    display: flex;
<<<<<<< HEAD
    height: 50%;
    margin-top: 41%;
    margin-left: -63%;
=======
    height: 250px;
    margin-top: 570px;
    margin-left: -830px;
>>>>>>> 7fcefd654880e84618be813a66deb56c321799b8
}

.Third{
    display: flex;
<<<<<<< HEAD
    height: 50%;
    margin-top: 53%;
    margin-left: 73%;
=======
    height: 250px;
    margin-top: 730px;
    margin-left: 970px;
>>>>>>> 7fcefd654880e84618be813a66deb56c321799b8
}  

.Fourth{
    display: flex;
<<<<<<< HEAD
    height: 50%;
    margin-top: 99.5%;
    margin-left: -60%;
=======
    height: 250px;
    margin-top: 1345px;
    margin-left:-800px;
}

.Care {
    display: flex;
    background-color: antiquewhite;
>>>>>>> 7fcefd654880e84618be813a66deb56c321799b8
}

.minus {
    display: flex;    
<<<<<<< HEAD
    margin-left:21.3%;
    margin-top:-21.4%;
=======
    margin-left:350px;
    margin-top:-320px;
>>>>>>> 7fcefd654880e84618be813a66deb56c321799b8
}

.minus2{
    display: flex;
<<<<<<< HEAD
    margin-left: 43.3%;
    margin-top: -2.8%;
=======
    margin-left:642px;
    margin-top: -37px;
>>>>>>> 7fcefd654880e84618be813a66deb56c321799b8
}

.minus3{
    display: flex;
<<<<<<< HEAD
    margin-left: 65.2%;
    margin-top: -2.8%;
=======
    margin-left:935px;
    margin-top: -37px;
>>>>>>> 7fcefd654880e84618be813a66deb56c321799b8
}

.minus4{
    display: flex;
<<<<<<< HEAD
    margin-left: 89.9%;
    margin-top: -2.8%;
}

.first_cnt{
    display: flex;
    font-size:600%;
    color:black !important;
    margin-left: 17%;
    margin-top: -30%;
}

.second_cnt {
    display: flex;
    font-size:600%;
    color:black !important;
    margin-left: 18%;
    margin-top: -30%;
}

.third_cnt {
    display: flex;
    font-size:600%;
    color:black !important;
    margin-left: 18%;
    margin-top: -30%;
}

.fourth_cnt {
    display: flex;
    font-size:600%;
    color:black !important;
    margin-left: 18%;
    margin-top: -30%;
}

.order {
    display: flex;
    width:98vw;
    height:10vh;
    background-color:red !important;
    font-size:30%;
    margin-top: -1000%;
=======
    margin-left:1258px;
    margin-top: -37px;
>>>>>>> 7fcefd654880e84618be813a66deb56c321799b8
}