.title {
    display: flex;
    background-color:brown;
    height: 50px;
}

.name{
    display: flex;
    color: white !important;
    font-style:italic;
    font-size:25px;
    margin-left: 700px;
    margin-top: 5px;
}

.menu{
    display: flex;
    background-color:burlywood;
    justify-content: space-between;
    width: 1506px;
    height: 50px;
}

.kind {
    display: flex;
    background-color:antiquewhite;
    height: 600px;
    width: 1506px;
}

.cone{
    display: flex;
    text-decoration: none;
    color:black !important;
}

.bar{   
    display: flex;
    text-decoration: none;
    color:black !important;
}   

.cup{
    display: flex;
    text-decoration: none;
    color:black !important;
}

.pencil{
    display: flex;
    text-decoration: none;
    color:black !important;
    margin-left: 200px;
}

.order {
    display: flex;
}

.First {
    display: flex;
    margin-top: -0px;
    height: 250px;
}

.Second{
    display: flex;
}

.Third{
    display: flex;
}  

.Fourth{
    display: flex;
}
